/* ---------------------------------------- */
/* -               Globals                - */
/* ---------------------------------------- */

* {
	margin: 0;
	border: 0 none;
	box-sizing: border-box;
}

body {
	font-family: "DejaVu Sans", Arial, sans-serif;
	line-height: 1.7em;
	font-size: 1em;
	margin: 0;
}

img {
	border:none;
}

img.smiley {
	width: 24px;
	height: 24px;
	position: relative;
	top: 5px;
}

.post-content img, .post-content figure, .post-content figcaption {
	max-width: 100%;
	height: auto;
}

hr {
	margin-top: 1.5em;
	border: none;
	height: 1px;
}

h1,h2,h3 {
	line-height: 2em;
}

h3 {
	font-size: 1.5em;
	position: relative;
	left: 1em;
	/*top: 10px;*/
}

a {
	text-decoration: none;
}

pre {
	margin: 10px 30px;
	padding: 20px;
	overflow: auto;
}

#top {
	padding: 0 0 1em 1.5em;
	display: block;
	width: 100%;
}

#top #logo {
	display: inline-block;
}
#top h1 {
	margin: 0;
	font-size: 2.5em;
}
#top h1 a {
	color: inherit;
	text-decoration: none;
}
#top #subtitle {
	margin-left: 3em;
	margin-top: -1em;
	display: block;
}

#wrapper {
	overflow: hidden;
	width: 100%;
	display: block;
	text-align: center;
}

nav#navigation {
	padding: 1em 0;
	display: inline-block;
}
nav#navigation ul {
	margin: 0;
	padding: 0;
}

nav#navigation ul>li {
	display: inline-block;
	list-style: none;
}

nav#navigation ul>li a {
	padding: 5px 7px;
	margin: 0 10px;
	color: inherit;
	font-size: 1.5em;
}

nav#navigation ul>li a {
	border: none;
}

img#lights_switch {
	cursor: pointer;
	position: absolute;
	top: 0.5em;
	right: 0.5em;
}

#page {
	vertical-align: top;
}

#body a {
}

#body a:hover {
	text-decoration: underline;
}

#main {
	vertical-align: top;
	text-align: left;
	min-height: 652px;
	text-align: center;
}

#content {
	padding: 1em 2em;
	min-height: 652px;
	max-width: 1200px;
	display: inline-block;
	text-align: left;
}

#sidebar {
	vertical-align: top;
	text-align: left;
}
#blognav, #blogextra {
	padding: 50px 25px 1px;
}

#footer {
	clear: both;
	padding: 30px 0 0 0;
}
#footer p {
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
	font-size: 0.95em;
}
#footer p a {
}


/* Sidebar styles
-------------------------------------------------------- */
#sidebar h2 {
	margin: 0;
}
#sidebar h3 {
	margin: 1em 0 0.5em;
}


#sidebar ul {
	list-style: none;
	margin: 1em 0;
	padding: 0;
}
#sidebar li {
	display: block;
	margin: 0;
	padding: 4px 0;
}
#sidebar li a {
	text-decoration: none;
}
#sidebar li a:hover, #sidebar li a:focus, #sidebar li a:active {
}
#sidebar ul ul {
	list-style: disc;
	margin: 0;
	padding: 0 0 0 15px;
	border: none;
}
#sidebar li li {
	display: list-item;
	margin: 0.5em 0 0 0;
	padding: 0 0;
	border: none;
}


#search fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
#q {
	width: 150px;
}
#search .submit {
	padding: 0;
	background: none;
	font-weight: bold;
	text-transform: uppercase;
}

#topnav ul {
	padding: 4px 0;
}
#topnav li {
	display: inline;
	border-bottom: none;
}

#sidebar .syndicate ul {
	border-top: none;
}
#sidebar .syndicate li {
	border-bottom: none;
}

#sidebar .categories ul {
	list-style: disc;
	margin: 0;
	padding: 0 0 0 15px;
	border: none;
}
#sidebar .categories li {
	display: list-item;
	margin: 0.5em 0 0 0;
	padding: 0 0;
	border: none;
}
#sidebar .categories li.category-current {
	font-weight: bold;
}
#sidebar .categories li.category-current li {
	font-weight: normal;
}

#sidebar .tags ul {
	border-top: none;
	font-size: 1.1em;
	text-align: justify;
}
#sidebar .tags ul li {
	display: inline;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	line-height: 1.8em;
}

.tag0 { font-size: 75%; }
.tag10 { font-size: 80%; }
.tag20 { font-size: 90%; }
.tag30 { font-size: 100%; }
.tag40 { font-size: 110%; }
.tag50 { font-size: 120%; }
.tag60 { font-size: 140%; }
.tag70 { font-size: 150%; }
.tag80 { font-size: 160%; }
.tag90 { font-size: 170%; }
.tag100 { font-size: 180%; }

ul.tags {
	list-style: none;
	margin: 1em 0;
	padding: 0;
	font-size: 1.3em;
	text-align: justify;
}
ul.tags li {
	display: inline;
	margin: 0;
	padding: 0;
	line-height: 1.8em;
}


/* Main content styles
-------------------------------------------------------- */
h2, h3, h4 {
	margin: 1em 0 0 0;
	padding: 0;
}

/* FIX */
#content>.post:first-child h2.post-title {
	margin: 0;
}

h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 1em;
}

#subcategories {
	border-style: solid;
	border-width: 1px 0;
	margin: 1em 0;
	padding: 0.5em;
}
#subcategories h3 {
	margin: 0;
}
#subcategories ul {
	margin: 0.5em 0 0 0;
	padding: 0 0 0 20px;
	line-height: 1.4;
}

.day-date {
	font-size: 1em;
	margin: 0 0 0.5em;
	text-align: right;
	float:right;
}

.post {
	margin: 0 0 2em -5px;
/*	text-align: justify;*/
}
.post p {
	padding: 5px;
}
/*.post img {
	float: left;
	margin: 5px;
}*/
.post h3, .post h4 {
	clear: both;
}
.post-title {
	font-size:1.7em;
}
.post-title a {
}
.post-info {
	margin: 0 0 0 0;
}

.post-tags {
	list-style: none;
	margin: 0em 0 1em;
	padding: 3px 0;
}
.post-tags li {
	display: inline;
	margin-right: 8px;
	padding: 5px 0 5px 22px;
	background: transparent url(../img/tag.png) no-repeat 0 70%;
}
.post-tags li a {
}

.post-info-co {
	clear: left;
	padding: 3px 0 3px 0.5em;
	border-width: 1px 0;
	border-style: solid;
}
.post-info-co a {
	padding: 2px 10px 2px 18px;
}

.comment_count {
	background: transparent url(../img/comment.png) no-repeat 0 50%;
}
.ping_count {
	background: transparent url(../img/trackback.png) no-repeat 0 50%;
}
.attach_count {
	background: transparent url(../img/attach.png) no-repeat 0 50%;
}

.read-it {
	font-weight: bold;
	clear: left;
}

a.feed {
	background: transparent url(../img/feed.png) no-repeat 0 0.25em;
	padding: 5px 0 5px 22px;
}

/* Post content
-------------------------------------------------------- */
.post-content, .post-excerpt, #comments dd, #pings dd, dd.comment-preview {
	line-height:1.4em;
}
.post-content acronym, .post-excerpt acronym {
	cursor: help;
}

.post-content pre, .post-excerpt pre {
	padding: 10px ;
	font: 1.1em 'courier new', courier, monospace;
}

.post-content ul, .post-excerpt ul, .post-content ol, .post-excerpt ol {
	margin: 0.5em 0 0.5em 0;
	padding: 0 0 0 30px;
}

.post-content li, .post-excerpt li {
	margin: 0.25em 0 0.25em 0;
	padding: 0;
}

.post-content blockquote, .post-excerpt blockquote, #comments blockquote {
	margin: 4px 0 4px 0;
	padding: 0 5px;
}
#comments blockquote {
	font-style: italic;
}


#attachments h3 {
	font-size: 1.2em;
}

#attachments ul {
	list-style: none;
	margin: 0;
	padding: 4px 0;
}

#attachments li {
	margin: 0 0 0.6em;
	padding: 2px 10px 2px 18px;
	background: transparent url(../img/attach.png) no-repeat 0 50%;
}

#attachments li object {
	display: inline;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

/* Comments and trackbacks
-------------------------------------------------------- */
#comments {
	clear: both;
}
#comments h3, #comment-form h3, #pings h3 {
	border-width: 1px 0;
	border-style: solid;
	padding: 5px;
	margin: 20px 0 8px 0;
	font-size: 1.2em;
}

#comments dt {
	margin: 1.5em 0 0 0;
	padding: 5px 0 16px 0;
	background: transparent url(../img/comment-t.png) no-repeat bottom left;
}
#comments dt.me {
	background-image: url(../img/commentmy-t.png);
}
#comments a.comment-number {
	display: block;
	float: left;
	width: 30px;
	margin-right: 40px;
	font-size: 1.2em;
}
#comments dd {
	margin: 0;
	padding: 1px 1em 0.5em 1em;
	/*width: 474px;*/
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#comments dd.me {
	/*background-image:url(../img/commentmy-b.png);*/
}
#comments dd p {
	margin: 0.5em 0;
	line-height: 1.5em;
}
/* Antispam */
#comment-form fieldset p:nth-child(3) {
	display: none;
}

.error {
	margin: 20px 0 0;
	padding: 10px 5px;
	border: 2px solid red;
	font-weight: bold;
}

.message {
	margin: 20px 0 0;
	padding: 10px 5px;
	border: 2px solid blue;
	font-weight: bold;
}

/* Forms
-------------------------------------------------------- */
#comment-form {
	padding-top: 10px;
}

#comment-form fieldset {
	border: none;
}
#comment-form fieldset p {
	padding: 5px 0;
}
#comment-form fieldset p.field {
	padding: 5px 0;
	width: auto;
	margin: 0;
	clear: left;
}
#comment-form p.form-help {
	width: 60%;
	margin: 0 0 0 30%;
	font-style: italic;
}

#comment-form p label {
	width: auto;
}
#comment-form p.field label {
	font-weight: bold;
	display: block;
	padding: 0 1% 0 0;
	width: 29%;
	float: left;
	text-align: right;
}
#comment-form input, #comment-form textarea {
	font: 1em "Lucida Grande",Arial,sans-serif;
	padding: 1px 2px;
	width: 68%;
}

#comment-form p.remember {
	margin: 0;
}
#comment-form input#c_remember {
	width: auto;
	border: 0;
	margin: 0 5px 0 30%;
}
#comment-form input.preview {
	margin-left: 30%;
}

#comment-form input.preview, #comment-form input.submit {
	width: auto;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}

.g-recaptcha div {
	display: inline-block;
	text-align: center;
}
