<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="MSSmartTagsPreventParsing" content="TRUE">
<meta name="ROBOTS" content="INDEX, FOLLOW">
<title>{{ if .Params.htmltitle }}{{ .Params.htmltitle }}{{ else }}{{ .Title }}{{ end }}</title>
<meta name="description" lang="fr" content="uname.pingveno.net">
<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
<link rel="stylesheet" type="text/css" href="/css/style-light.css" media="screen">
<link rel="stylesheet" type="text/css" href="/css/layouts/mobile.css" media="screen and (max-width: 649px)">
<link rel="stylesheet" type="text/css" href="/css/layouts/tablet_small.css" media="screen and (min-width: 650px) and (max-width: 949px)">
<link rel="stylesheet" type="text/css" href="/css/layouts/tablet_large.css" media="screen and (min-width: 950px) and (max-width: 1199px)">
<link rel="stylesheet" type="text/css" href="/css/layouts/desktop.css" media="screen and (min-width: 1200px)">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ template "_internal/google_analytics.html" . }}

</head>